body {
    background-image: url("images/people-apple-iphone-writing.jpg");
    background-size: cover;
    height: 900px;
}

.container {
    margin: 0 auto;
    width: 950px;
    border: solid medium #fff600;
}

.letter_a_img {
    width: 214px;
    height: 314px;
}

h1 {
    font-family: 'romance_fatal_serif_stdRg';
    color: #fff600;
    font-size: 100px;
    text-align: center;
}

h3 {
    font-family: arial;
    color: #ffffff;
    font-size: 30px;
    margin-top: 0px;
}

.h_3 {
    font-family: arial;
    color: #000000;
    font-size: 30px;
    margin-top: 0px;
}

.left_colum {
    width: 215px;
    height: 314px;
    z-index: 10;
    margin-top: 100px;
    margin-left: -50px;
}

.right_colum {
    width: 700px;
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
}
.youTube {
        margin-top: 20px;
}

.guardian {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin-top: 20px;
}

.guardian a {
    font-size: 18 px;
    font-family: arial;
    color: #000000;
    line-height: 30px;
}

@media (min-width: 0) and (max-width: 600px) {
    .container {
        margin-top: 10%;
        margin-bottom: 10%;
        width: 90%;
    }
    .right_colum {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .right_colum iframe {
        width: 100%;
        height: 220px;
    }
    .left_colum {
        display: none;
    }
    h1 {
        font-family: 'romance_fatal_serif_stdRg';
        color: #fff600;
        font-size: 40px;
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .new {
        padding-top: 15px;
        border-bottom: 1px solid black;
        text-align: center;
        padding-bottom: 15px;
    }
}

@media (min-width: 451px) and (max-width: 700px) {
    .container {
        width: 90%;
    }
    .right_colum {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .left_colum {
        display: none;
    }
    h1 {
        font-family: 'romance_fatal_serif_stdRg';
        color: #fff600;
        font-size: 60px;
        text-align: center;
    }
       .new {
        padding-top: 15px;
        border-bottom: 1px solid black;
        text-align: center;
        padding-bottom: 15px;
    }
}
